<label
  [for]="fieldName"
  class="form-label"
  [class.text-danger]="(formControlField?.errors?.['required'] || formControlField?.errors?.['email'] || formControlField?.errors?.['minLength']) && formControlField?.touched"
  >{{ label }}</label
>
<ng-content></ng-content>
@if(formControlField?.errors?.['required'] && formControlField?.touched) {
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["required"] }}
</div>
} @else if (formControlField?.errors?.['email'] && formControlField?.touched) {
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["email"] }}
</div>
} @else if (formControlField?.errors?.['minLength'] &&
formControlField?.touched) {
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["minLength"] }}
</div>
} @else if (formControlField?.errors?.['invalid'] && formControlField?.touched)
{
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["invalid"] }}
</div>
}
