<label
  [for]="fieldName"
  class="form-label"
  [class.text-danger]="(formControlField?.errors?.['required'] || formControlField?.errors?.['email'] || formControlField?.errors?.['minLength'] || formControlField?.errors?.['invalid'] || formControlField?.errors?.['notIquals'] || formControlField?.errors?.['emailExists']) && formControlField?.touched"
>
  {{ label }}
</label>
<ng-content></ng-content>
@if(formControlField?.errors?.['required'] && formControlField?.touched) {
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["required"] }}
</div>
} @else if (formControlField?.errors?.['email'] && formControlField?.touched) {
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["email"] }}
</div>
} @else if (formControlField?.errors?.['minLength'] &&
formControlField?.touched) {
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["minLength"] }}
</div>
} @else if (formControlField?.errors?.['invalid'] && formControlField?.touched)
{
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["invalid"] }}
</div>
} @else if (formControlField?.errors?.['notIquals'] &&
formControlField?.touched) {
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["notIquals"] }}
</div>
} @else if (formControlField?.errors?.['emailExists'] &&
formControlField?.touched) {
<div class="alert alert-warning" role="alert">
  {{ feedbackMessage["emailExists"] }}
</div>
}

<!-- SUCCESS -->
@if (formControlField?.status === 'PENDING' && formControlField?.touched) {
<div class="alert alert-success" role="alert">
  {{ feedbackMessage["pending"] }}
</div>
} @if (formControlField?.status === 'VALID' && formControlField?.touched) {
<div class="alert alert-success" role="alert">
  {{ feedbackMessage["valid"] }}
</div>
}
