<form
  class="container mt-5"
  #formTemplateDrive="ngForm"
  (ngSubmit)="onSubmit(formTemplateDrive)"
  novalidate
>
  <fieldset class="col-sm-12 mb-3">
    <app-form-control-field
      fieldName="name"
      label="Name"
      [message]="{
        required: { text: 'Name is required.', type: MessageType.alertWarning }
      }"
      [formControlField]="name"
    >
      <input
        id="name"
        type="name"
        name="name"
        class="form-control"
        ngModel
        required
        #name="ngModel"
      />
    </app-form-control-field>
  </fieldset>
  <fieldset class="col-sm-12 mb-3">
    <app-form-control-field
      fieldName="email"
      label="Email"
      [message]="{
        required: { text: 'Email is required.', type: MessageType.alertWarning }
      }"
      [formControlField]="email"
    >
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        email
        [ngModel]="usuario.email"
        #email="ngModel"
      />
    </app-form-control-field>
  </fieldset>
  <ng-container ngModelGroup="address">
    <fieldset class="row">
      <div class="col-sm-3 mb-3">
        <app-form-control-field
          fieldName="cep"
          label="CEP"
          [message]="{
            required: {
              text: 'CEP is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="cep"
        >
          <input
            type="cep"
            class="form-control"
            id="cep"
            name="cep"
            required
            cep
            [ngModel]="usuario.cep"
            #cep="ngModel"
            (blur)="getAddress(cep.value)"
          />
        </app-form-control-field>
      </div>
      <div class="col-sm-3 mb-3">
        <app-form-control-field
          fieldName="number"
          label="Number"
          [message]="{
            required: {
              text: 'Number is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="number"
        >
          <input
            type="number"
            class="form-control"
            id="number"
            name="number"
            required
            number
            [ngModel]="usuario.number"
            #number="ngModel"
          />
        </app-form-control-field>
      </div>
      <div class="col-sm-6 mb-3">
        <app-form-control-field
          fieldName="complement"
          label="Complement"
          [message]="{
            required: {
              text: 'Complement is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="complement"
        >
          <input
            type="complement"
            class="form-control"
            id="complement"
            name="complement"
            required
            complement
            [ngModel]="usuario.complement"
            #complement="ngModel"
          />
        </app-form-control-field>
      </div>
    </fieldset>
    <fieldset class="col-sm-12 mb-3">
      <app-form-control-field
        fieldName="street"
        label="Street"
        [message]="{
          required: {
            text: 'Street is required.',
            type: MessageType.alertWarning
          }
        }"
        [formControlField]="street"
      >
        <input
          type="street"
          class="form-control"
          id="street"
          name="street"
          required
          street
          [ngModel]="usuario.street"
          #street="ngModel"
        />
      </app-form-control-field>
    </fieldset>
    <fieldset class="row">
      <div class="col-sm-5 mb-3">
        <app-form-control-field
          fieldName="district"
          label="District"
          [message]="{
            required: {
              text: 'District is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="district"
        >
          <input
            type="district"
            class="form-control"
            id="district"
            name="district"
            required
            district
            [ngModel]="usuario.district"
            #district="ngModel"
          />
        </app-form-control-field>
      </div>
      <div class="col-sm-4 mb-3">
        <app-form-control-field
          fieldName="city"
          label="City"
          [message]="{
            required: {
              text: 'City is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="city"
        >
          <input
            type="city"
            class="form-control"
            id="city"
            name="city"
            required
            city
            [ngModel]="usuario.city"
            #city="ngModel"
          />
        </app-form-control-field>
      </div>
      <div class="col-sm-3 mb-3">
        <app-form-control-field
          fieldName="state"
          label="State"
          [message]="{
            required: {
              text: 'State is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="state"
        >
          <input
            type="state"
            class="form-control"
            id="state"
            name="state"
            required
            state
            [ngModel]="usuario.state"
            #state="ngModel"
          />
        </app-form-control-field>
      </div>
    </fieldset>
  </ng-container>

  <pre>
    {{ formTemplateDrive.value | json }}
  </pre>

  <button (click)="resetForm()" type="button" class="btn btn-secondary">
    Reset
  </button>
  <button
    [disabled]="!formTemplateDrive.valid"
    type="submit"
    class="btn btn-primary ms-1"
  >
    Submit
  </button>
</form>
