<section class="container">
  <article class="row">
    <h3>Login</h3>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="email"
          type="email"
          class="validate"
          [(ngModel)]="user.email"
        />
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="password"
          type="password"
          class="validate"
          [(ngModel)]="user.password"
        />
        <label for="password">Senha</label>
      </div>
    </div>

    <button class="waves-effect waves-light btn" (click)="handleClickLogin()">
      login
    </button>
  </article>
</section>
