<form class="container mt-5" [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset class="col-sm-12 mb-3">
    <app-form-control-field
      fieldName="name"
      label="Name"
      [message]="{
        required: { text: 'Name is required.', type: MessageType.alertWarning }
      }"
      [formControlField]="form.get('name')"
    >
      <input
        id="name"
        type="name"
        name="name"
        class="form-control"
        formControlName="name"
      />
    </app-form-control-field>
  </fieldset>
  <fieldset class="col-sm-12 mb-3">
    <app-form-control-field
      fieldName="email"
      label="Email"
      [message]="{
        required: { text: 'Email is required.', type: MessageType.alertDanger },
        email: { text: 'Email is invalid.', type: MessageType.alertDanger },
        emailExists: { text: 'Email already exists.', type: MessageType.alertDanger },
        pending: { text: 'Checking email...', type: MessageType.alertWarning },
        valid: { text: 'Email is valid.', type: MessageType.alertSuccess },
      }"
      [formControlField]="form.get('email')"
    >
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        formControlName="email"
      />
    </app-form-control-field>
  </fieldset>
  <fieldset class="col-sm-12 mb-3">
    <app-form-control-field
      fieldName="email"
      label="Confirm email"
      [message]="{
        notIquals: { text: 'Email is not equals.', type: MessageType.alertDanger },
      }"
      [formControlField]="form.get('confirmEmail')"
    >
      <input
        type="email"
        class="form-control"
        id="confirmEmail"
        name="confirmEmail"
        formControlName="confirmEmail"
      />
    </app-form-control-field>
  </fieldset>

  <ng-container formGroupName="address">
    <fieldset class="row">
      <div class="col-sm-3 mb-3">
        <app-form-control-field
          fieldName="cep"
          label="CEP"
          [message]="{
            required: { text: 'CEP is required.', type: MessageType.alertWarning },
            invalid: { text: 'CEP is invalid.', type: MessageType.alertDanger },
          }"
          [formControlField]="form.get('address.cep')"
        >
          <input
            type="text"
            class="form-control"
            id="cep"
            formControlName="cep"
            (blur)="getAddress()"
          />
        </app-form-control-field>
      </div>
      <div class="col-sm-3 mb-3">
        <app-form-control-field
          fieldName="number"
          label="Number"
          [message]="{
            required: {
              text: 'Number is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="form.get('address.number')"
        >
          <input
            type="number"
            class="form-control"
            id="number"
            formControlName="number"
          />
        </app-form-control-field>
      </div>
      <div class="col-sm-6 mb-3">
        <app-form-control-field
          fieldName="complement"
          label="Complement"
          [message]="{
            required: {
              text: 'Complement is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="form.get('address.complement')"
        >
          <input
            type="complement"
            class="form-control"
            id="complement"
            formControlName="complement"
          />
        </app-form-control-field>
      </div>
    </fieldset>
    <fieldset class="col-sm-12 mb-3">
      <app-form-control-field
        fieldName="street"
        label="Street"
        [message]="{
          required: {
            text: 'Street is required.',
            type: MessageType.alertWarning
          }
        }"
        [formControlField]="form.get('address.street')"
      >
        <input
          type="street"
          class="form-control"
          id="street"
          formControlName="street"
          readonly
        />
      </app-form-control-field>
    </fieldset>
    <fieldset class="row">
      <div class="col-sm-5 mb-3">
        <app-form-control-field
          fieldName="district"
          label="District"
          [message]="{
            required: {
              text: 'District is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="form.get('address.district')"
        >
          <input
            type="district"
            class="form-control"
            id="district"
            formControlName="district"
            readonly
          />
        </app-form-control-field>
      </div>
      <div class="col-sm-4 mb-3">
        <app-form-control-field
          fieldName="city"
          label="City"
          [message]="{
            required: {
              text: 'City is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="form.get('address.city')"
        >
          <input
            type="city"
            class="form-control"
            id="city"
            formControlName="city"
            readonly
          />
        </app-form-control-field>
      </div>
      <div class="col-sm-3 mb-3">
        <app-form-control-field
          fieldName="state"
          label="State"
          [message]="{
            required: {
              text: 'State is required.',
              type: MessageType.alertWarning
            }
          }"
          [formControlField]="form.get('address.state')"
        >
          <!-- Trabalhando com um valor simples: string, number, boolean -->
          <select class="form-control" id="state" formControlName="state">
            @for (state of states$ | async; track state.id) {
            <option [value]="state.sigla">{{ state.nome }}</option>
            }
          </select>
          <!-- Trabalhando com um valor complexo: objeto e array -->
          <select
            class="form-control mt-1"
            id="state"
            formControlName="state"
            [compareWith]="compareFn"
          >
            @for (state of states$ | async; track state.id) {
            <option [ngValue]="state">{{ state.nome }}</option>
            }
          </select>
          <button
            class="btn btn-secondary mt-1 w-100"
            (click)="selectAutoState()"
          >
            Select state
          </button>
        </app-form-control-field>
      </div>
    </fieldset>
  </ng-container>
  <fieldset class="row">
    <div class="col-sm-3 mb-3">
      <app-form-control-field
        fieldName="tecnologies"
        label="Tecnologies"
        [message]="{
          required: {
            text: 'Tecnologies is required.',
            type: MessageType.alertWarning
          }
        }"
        [formControlField]="form.get('tecnologies')"
      >
        <select
          multiple
          class="form-control"
          id="tecnologies"
          formControlName="tecnologies"
        >
          @for (tec of tecnologies; track tec.id) {
          <option [value]="tec.id">{{ tec.nome }}</option>
          }
        </select>
        <button
          class="btn btn-secondary mt-1 w-100"
          (click)="selectAutoTecnologies()"
        >
          Select tecnologies
        </button>
      </app-form-control-field>
    </div>
    <div class="col-sm-3 mb-3">
      <app-form-control-field
        fieldName="newsletter-yes"
        label="Newsletter"
        [message]="{
          required: {
            text: 'Newsletter is required.',
            type: MessageType.alertWarning
          }
        }"
        [formControlField]="form.get('newsletter')"
      >
        <div>
          <input
            type="radio"
            id="newsletter-yes"
            [value]="true"
            formControlName="newsletter"
            class="mx-2"
          />Yes
          <label for="newsletter-no">
            <input
              type="radio"
              id="newsletter-no"
              [value]="false"
              formControlName="newsletter"
              class="mx-2"
            />No
          </label>
        </div>
      </app-form-control-field>
    </div>
    <div class="col-sm-3 mb-3">
      <app-form-control-field
        fieldName="terms"
        label="Terms"
        [message]="{
          required: {
            text: 'Terms is required.',
            type: MessageType.alertWarning
          }
        }"
        [formControlField]="form.get('terms')"
      >
        <div>
          <input
            type="checkbox"
            id="terms"
            formControlName="terms"
            class="mx-2"
          />Accept terms
        </div>
      </app-form-control-field>
    </div>
    <div class="col-sm-3 mb-3" formArrayName="frameworks">
      <app-form-control-field
        fieldName="frameworks"
        label="Frameworks"
        [message]="{
          required: { text: 'Frameworks is required.', type: MessageType.alertWarning },
          minLength: { text: 'Select at least two framework.', type: MessageType.alertWarning },
        }"
        [formControlField]="form.get('frameworks')"
      >
        @for (framework of frameworksFormArray.controls; track framework; let
        idx = $index) {
        <label class="d-block" [formGroup]="framework">
          <input
            type="checkbox"
            [id]="framework.value.label"
            class="mx-2"
            formControlName="checked"
          />
          {{ framework.value.label }}
        </label>
        }
      </app-form-control-field>
    </div>
  </fieldset>

  <pre>
    {{ form.value | json }}
  </pre>

  <button type="button" class="btn btn-secondary" (click)="resetForm()">
    Reset
  </button>
  <button type="submit" class="btn btn-primary ms-1">Submit</button>
</form>
