<app-diretiva-ngif style="display: none"></app-diretiva-ngif>
<app-diretiva-ngswitch style="display: none"></app-diretiva-ngswitch>
<app-diretiva-ngfor style="display: none"></app-diretiva-ngfor>
<app-diretiva-ngclass style="display: none"></app-diretiva-ngclass>
<app-diretiva-ngstyle style="display: none"></app-diretiva-ngstyle>
<app-operador-elvis style="display: none"></app-operador-elvis>
<app-exemplo-ng-content style="display: none">
  <p>Content default</p>
</app-exemplo-ng-content>
<app-exemplo-ng-content style="display: none">
  <h5 title class="card-title">Card title 2</h5>
  <p content class="card-text">
    With supporting text below as a natural lead-in to additional content.
  </p>
  <p content class="card-text">
    With supporting text below as a natural lead-in to additional content.
  </p>
  <a link href="#" class="btn btn-primary">Button</a>
</app-exemplo-ng-content>
<app-diretiva-customizadas></app-diretiva-customizadas>
